@tailwind base;
@tailwind components;
@tailwind utilities;

image-holder {
  height: 250px;
  width: 250px;
  position: relative;
}
image-holder:before {
  background: rgba(0, 255, 255, 0.5);
  transition: all 0.3s linear;
}
image-holder:hover:before {
  background: none;
}

tint {
  background: rgba(0, 255, 255, 0.5);
}
